sphinx==5.3  # >6.0 causes bug in pydata_sphinx_theme
sphinx_autosummary_accessors
sphinxcontrib-programoutput
sphinx_rtd_theme
sphinx-design
pydata_sphinx_theme
ipykernel
nbsphinx
sphinx-gallery
pandoc
pypandoc_binary
matplotlib
