name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:  
  Test-matrix:
    name: ${{ matrix.os }} - py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest" ] #, "macos-latest", "windows-latest"]
        python-version: ["3.9"] # fix tests to support older versions
    
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}
          # mamba-version: "*"
          channels: conda-forge,defaults
          channel-priority: true
          environment-file: envs/pyorc-test.yml
          activate-environment: pyorc-test

      - name: Conda info
        run: |
         conda info
         conda list

      - name: Test
        run: python -m pytest --verbose --cov=pyorc --cov-report xml

      - uses: codecov/codecov-action@v1

#      - name: Check style
#        run: black --check .
